* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuentes */

/* font-family: 'Convergence', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');
